#heading1{background-color: black;
    color: azure;
    
}
#heading2{ background-color: aliceblue;
    color: black;



}
#heading3{ background-color: black;
    color: aqua;


}
.para1{ background-color: aqua;
    color: black;

}
.para2{background-color: black;
color: aqua;}